
<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>
    <label for="article_title">Title</label>
    <input id="article_title" type="text" name="title" value="<%= @article.title %>">
  </p>
  <p>
    <label for="content">Content</label>
    <input id="content" type="text" name="content" value="<%= @article.content %>">
  </p>
  <input type="submit">
</form>
